body{
    color: purple;
}
selection{
    background-color: gray ;
    margin: 50px;
    border: 2px, black ;
    border-radius: 15px ;

}
img {
    float: right;
    max-width: 350px;
    padding: 15px;
    
}
#PicName{
    background-color: orange;
    
}