body{
    background-color: #737373;
    margin: 0 auto;
}
.MainImage{
    margin: 0 auto;

    width: 100%;

}
section img{
    border: 10px solid green;
    border-radius: 1000px;
    width: 70%;
    
}
#MainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}